<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{template.html}">
<head>
    <meta charset="utf-8"/>
    <title>Administration</title>
</head>
<body>
<section layout:fragment="content" class="jumbotron">
    <h1>PAGE DE GESTION DES CAPTEURS & CAMERAS !!!</h1>
    <div class="row">
        <div class="col-6">
            <div class="card" >
                <div class="card-body">
                    <h3 class="card-title">Gestion des capteurs</h3>
                    <h4>Ajouter un capteur</h4>
                    <div>
                        <form class="text-left text-md-center" th:action="@{/addSensor}" method="post">
                            <div>
                                <label>Name:</label>
                                <input type="text" name="name"/>
                            </div>
                            <div>
                                <label>Type:</label>
                                <input type="text" name="sensorType"/>
                            </div>
                            <div>
                                <label>Localisation:</label>
                                <input type="text" name="localisation"/>
                            </div>
                            <button type="submit">Enregistrer</button>
                        </form>
                        <div th:if="${exception}" th:text="${exception}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Gestion des caméras </h3>
                    <h4>Ajouter une caméra</h4>
                    <div>
                        <form th:action="@{/addCamera}" method="post">
                            <div>
                                <label>Modèle:</label>
                                <input type="text" name="cameraModel" />
                            </div>
                            <div>
                                <label>Localisation:</label>
                                <input type="text" name="localisation"/>
                            </div>
                            <div>
                                <label>IPv4:</label>
                                <input type="text" name="ipAdress"/>
                            </div>
                            <button type="submit">Enregistrer</button>
                        </form>
                        <div th:if="${exception}" th:text="${exception}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Liste des capteurs</h3>
                    <table class="table table-striped">
                        <tr>
                            <th>ID</th><th>Type Capteur </th><th>Nom </th><th>localisation </th><th>Supprimer capteur</th>
                        </tr>
                        <tr th:each="sensor:${listSensors}">
                            <td th:text= "${sensor.id}"></td>
                            <td th:text= "${sensor.sensorType}"></td>
                            <td th:text= "${sensor.name}"></td>
                            <td th:text= "${sensor.localisation}"></td>
                            <td>
                                <form th:action="@{/removeSensor(idSensor=${sensor.id})}" method="post">
                                    <button type="submit" > Supprimer </button></form>
                            </td>
                        </tr>
                    </table>
                    <h3 class="card-title">Liste des caméras</h3>
                    <table class="table table-striped">
                        <tr>
                            <th>ID</th><th>Modèle </th><th>IPv4 </th><th>localisation </th><th>Supprimer caméra</th>
                        </tr>
                        <tr th:each="camera:${listCameras}">
                            <td th:text= "${camera.id}"></td>
                            <td th:text= "${camera.cameraModel}"></td>
                            <td th:text= "${camera.ipAdress}"></td>
                            <td th:text= "${camera.localisation}"></td>
                            <td>
                                <form th:action="@{/removeCamera(idCamera=${camera.id})}" method="post">
                                    <button type="submit"  >Supprimer</button></form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>