<!DOCTYPE html>
<html
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{template.html}">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">
    <div class="jumbotron" sec:authorize="isAuthenticated"><h1>BIENVENUE DANS SUR L'APPLICATION MySmartHome!!!</h1></div>
    <div><p>Cliquez sur le lien pour démarrer l'application de surveillance intelligente !  (en cours de dev)</p>
        <a href="http://localhost:4200/" target="_blank">MySmartHome</a></div>
</section>
</body>
</html>